<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Review</title>
  <!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"-->
  <!--          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
  <!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"-->
  <!--            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"-->
  <!--            crossorigin="anonymous"></script>-->

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



</head>
<body>

<div style="position: fixed; padding-top:15px; z-index: 100; background-color:#E3F2FD; width:100%">
  <ul style="text-align: center; float: inline-end;">
    <li style="display: inline-block;"><a style="color : black; font-size: 17px; padding: 7px 13px; border-radius: 3px;" th:href="@{'/'}"><b>Home</b></a></li>
    <li style="display: inline-block;"><a style="color : black; font-size: 17px; padding: 7px 13px; border-radius: 3px;"><b>Login</b></a></li>
    <li style="display: inline-block;"><a style="color : black; font-size: 17px; padding: 7px 13px; border-radius: 3px;" th:href="@{'/campaign'}"><b>Campaign</b></a></li>
    <li style="display: inline-block;"><a style="color : black; font-size: 17px; padding: 7px 13px; border-radius: 3px;" th:href="@{'/report'}"><b>Report</b></a></li>
    <li style="display: inline-block;"><a style="color : black; font-size: 17px; padding: 7px 13px; border-radius: 3px;" th:href="@{'/article'}"><b>Article</b></a></li>
    <li style="display: inline-block;"><a style="color : black; font-size: 17px; padding: 7px 13px; border-radius: 3px;" th:href="@{'/review'}"><b>Review</b></a></li>
  </ul>
</div>

<div class="jumbotron text-center">
  <div style="margin-top: 50px; margin-bottom: 20px; font-size:40px"><b>Review</b></div>
  <a class="btn btn-primary" th:href="@{/review/add}">Write a review</a>

</div>

<div class="container-fluid">
  <div class="card" th:each="review: ${list}">

    <div class="card-body">
      <div class="column2 tariff-date" style="width: 15%;"><h2><span th:text="${review.id} + '. '+${review.headline}">Dummy Data</span></h2></div>
      <a th:href="@{/review/detail/{idReview}(idReview=${review.id})}" class="btn btn-primary">Read</a>

    </div>


  </div>
</div>


</body>
</html>