<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Review</title>

  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</head>
<body>

<div style="position: fixed; padding-top:15px; z-index: 100; background-color:#E3F2FD; width:100%">
  <ul style="text-align: center; float: inline-end;">
    <li style="display: inline-block;"><a style="color : black; font-size: 17px; padding: 7px 13px; border-radius: 3px;" th:href="@{'/'}"><b>Home</b></a></li>
    <li style="display: inline-block;"><a style="color : black; font-size: 17px; padding: 7px 13px; border-radius: 3px;"><b>Login</b></a></li>
    <li style="display: inline-block;"><a style="color : black; font-size: 17px; padding: 7px 13px; border-radius: 3px;" th:href="@{'/campaign'}"><b>Campaign</b></a></li>
    <li style="display: inline-block;"><a style="color : black; font-size: 17px; padding: 7px 13px; border-radius: 3px;" th:href="@{'/report'}"><b>Report</b></a></li>
    <li style="display: inline-block;"><a style="color : black; font-size: 17px; padding: 7px 13px; border-radius: 3px;" th:href="@{'/article'}"><b>Article</b></a></li>
    <li style="display: inline-block;"><a style="color : black; font-size: 17px; padding: 7px 13px; border-radius: 3px;" th:href="@{'/review'}"><b>Review</b></a></li>
  </ul>
</div>

<div class="jumbotron text-center">
  <div style="margin-top: 50px; margin-bottom: 20px; font-size:40px"><b th:text="${review.headline}"></b></div>
  <p th:text="'Author: '+ ${review.name}"> </p>
</div>

<div class="container-fluid">
  <h2 th:text = "${review.star}"></h2>
  <p th:text = "${review.body}"></p>

</div>

<div class="container-fluid">


</div>
</div>
</body>
</html>