<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Campaign</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
          integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
          crossorigin="anonymous"></script>
</head>
<body>

<div style="position: fixed; margin-top:-100px; padding-top:15px; z-index: 100; background-color:#E3F2FD; width:100%">
    <ul style="text-align: center; float: inline-end;">
      <li style="display: inline-block;"><a style="color : black; font-size: 17px; padding: 7px 13px; border-radius: 3px;" th:href="@{'/'}"><b>Home</b></a></li>
      <li style="display: inline-block;"><a style="color : black; font-size: 17px; padding: 7px 13px; border-radius: 3px;"><b>Login</b></a></li>
      <li style="display: inline-block;"><a style="color : black; font-size: 17px; padding: 7px 13px; border-radius: 3px;" th:href="@{'/campaign'}"><b>Campaign</b></a></li>
      <li style="display: inline-block;"><a style="color : black; font-size: 17px; padding: 7px 13px; border-radius: 3px;" th:href="@{'/report'}"><b>Report</b></a></li>
      <li style="display: inline-block;"><a style="color : black; font-size: 17px; padding: 7px 13px; border-radius: 3px;" th:href="@{'/article'}"><b>Article</b></a></li>
      <li style="display: inline-block;"><a style="color : black; font-size: 17px; padding: 7px 13px; border-radius: 3px;" th:href="@{'/review'}"><b>Review</b></a></li>
    </ul>
</div>

</body>
<body>
<div class="container">
  <div style="margin-top: 100px; margin-bottom: 20px; font-size:30px"><b>Choose Campaign</b></div>
  <div class="card-deck" style="margin-bottom: 100px; background-color: #E3F2FD; padding: 20px 10px 20px 10px; border-radius: 20px;">
    <div class="card">
      <img class="card-img-top" th:src="@{${'/campaign/educational.png'}}" alt="Card image cap">
      <div class="card-body">
        <h5  class="card-title">Educational Campaign</h5>
        <p class="card-text" th:text="${eduCampaign}"></p>
        <a th:href="@{'/campaign/edu'}"><button class="btn btn-primary">See Details</button></a>
        <h5  class="card-title" th:text="${eduLike + ' Likes'}"></h5>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" th:src="@{${'/campaign/social.png'}}" alt="Card image cap">
      <div class="card-body">
        <h5  class="card-title">Social Campaign</h5>
        <p class="card-text" th:text="${socialCampaign}"></p>
        <a th:href="@{'/campaign/social'}"><button class="btn btn-primary">See Details</button></a>
        <h5  class="card-title" th:text="${socialLike + ' Likes'}"></h5>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" th:src="@{${'/campaign/health.png'}}" alt="Card image cap">
      <div class="card-body">
        <h5  class="card-title">Health Campaign</h5>
        <p class="card-text" th:text="${healthCampaign}"></p>
        <a th:href="@{'/campaign/health'}"><button class="btn btn-primary">See Details</button></a>
        <h5  class="card-title" th:text="${healthLike + ' Likes'}"></h5>
      </div>
    </div>
  </div>
</div>

</body>
</html>