<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail Campaign</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</head>
<body>

<div style="position: fixed; margin-top:-100px; padding-top:15px; z-index: 100; background-color:#E3F2FD; width:100%">
    <ul style="text-align: center; float: inline-end;">
        <li style="display: inline-block;"><a style="color : black; font-size: 17px; padding: 7px 13px; border-radius: 3px;" th:href="@{'/'}"><b>Home</b></a></li>
        <li style="display: inline-block;"><a style="color : black; font-size: 17px; padding: 7px 13px; border-radius: 3px;"><b>Login</b></a></li>
        <li style="display: inline-block;"><a style="color : black; font-size: 17px; padding: 7px 13px; border-radius: 3px;" th:href="@{'/campaign'}"><b>Campaign</b></a></li>
        <li style="display: inline-block;"><a style="color : black; font-size: 17px; padding: 7px 13px; border-radius: 3px;" th:href="@{'/report'}"><b>Report</b></a></li>
        <li style="display: inline-block;"><a style="color : black; font-size: 17px; padding: 7px 13px; border-radius: 3px;" th:href="@{'/article'}"><b>Article</b></a></li>
        <li style="display: inline-block;"><a style="color : black; font-size: 17px; padding: 7px 13px; border-radius: 3px;" th:href="@{'/review'}"><b>Review</b></a></li>
    </ul>
</div>

</body>
<body>

<div class="container" style="margin-top: 50px; margin-bottom: 80px;">

    <div style="margin-top: 100px; margin-bottom: 20px; font-size:30px"><b id="tipe-campaign" th:text="${type + ' Campaign'}"></b></div>
    <div class="card-deck" style="background-color: #E3F2FD; padding: 15px 0 15px 0; border-radius: 20px;">
        <div class="card" style="padding: 20px 50px 30px 20px;">
            <div class="media">
                <img class="align-self-center mr-3" th:src="@{${'/campaign/' + image + '.png'}}"
                     alt="Generic placeholder image"
                     style="width: 300px; height: 300px;">
                <div class="media-body">
                    <div th:each="detail: ${campaign}">
                        <p class="text-justify" th:text="${detail}"></p>
                    </div>
                    <a th:href="@{'/campaign/' + ${type} + '/pay'}">
                        <button class="btn btn-primary">Donate Now</button>
                    </a>
                    <a th:href="@{'/campaign'}">
                        <button class="btn btn-primary">Back</button>
                    </a>
                    <button class="btn btn-primary" id="like-button" th:onclick="like()">like</button>
                    <script>
                        function like() {
                            var type = document.getElementById("tipe-campaign").textContent;
                            var l = document.getElementById("like-button").textContent;
                            var naik = l === "like" ? true : false;
                            var url = "/campaign/like/" + type + "/" + naik;
                            console.log(url);
                            var xhr = new XMLHttpRequest();
                            xhr.open("POST", url, true);
                            xhr.send();
                            lanjut(naik);
                            ubah();
                        }
                        function lanjut(naik) {
                            var value = parseInt(document.getElementById('number').textContent, 10);
                            console.log(document.getElementById('number').textContent);
                            value = isNaN(value) ? 0 : value;
                            value += naik ? 1 : -1;
                            document.getElementById('number').textContent = value;
                        }
                        function ubah() {
                            var lbut = document.getElementById("like-button");
                            if (lbut.textContent === "like") {
                              lbut.textContent = "dislike";
                            } else {
                              lbut.textContent = "like";
                            }
                        }

                    </script>
                    <h5 class="card-title"><b id="number" th:text="${like}"></b> Likes</h5>
                </div>
            </div>
        </div>
    </div>

    <!--  REVIEW still dummyver  -->

    <!--
    <h3 style="margin-top: 50px; margin-bottom: 20px;"><b>Reviews</b></h3>
    <div class="card-deck" style="padding: 20px; background-color: #E3F2FD; border-radius: 20px; margin: 0 0 20px 0;" th:each="review: ${reviews}">
        <div class="media">
            <!- - mungkin circle ato kalo mau ada poto profil - ->
            <div class="media-body">
                <p class="text-justify" th:text="${review.getReview()}"></p>
                <b th:text="${'Rating : ' + review.getRating()}"></b>
            </div>
        </div>
    </div>
    -->

<!--    <h3 style="margin-top: 50px; margin-bottom: 20px;"><b>Reviews</b></h3>-->
<!--    <div class="card-deck" style="padding: 20px; background-color: #E3F2FD; border-radius: 20px; margin: 0 0 20px 0;">-->
<!--        <div class="media">-->
<!--            &lt;!&ndash; mungkin circle ato kalo mau ada poto profil &ndash;&gt;-->
<!--            <div class="media-body">-->
<!--                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur-->
<!--                    adipiscing elit, sed do eiusmod tempor incididunt ut labore-->
<!--                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud-->
<!--                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.-->
<!--                </p>-->
<!--                <b>Rating : 8/10</b>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="card-deck" style="padding: 20px; background-color: #E3F2FD; border-radius: 20px; margin: 0 0 20px 0;">-->
<!--        <div class="media">-->
<!--            &lt;!&ndash; mungkin circle ato kalo mau ada poto profil &ndash;&gt;-->
<!--            <div class="media-body">-->
<!--                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur-->
<!--                    adipiscing elit, sed do eiusmod tempor incididunt ut labore-->
<!--                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud-->
<!--                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.-->
<!--                </p>-->
<!--                <b>Rating : 8/10</b>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

</div>

<script src="campaign/js/campaign.js"></script>


</body>
</html>