<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
          integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
          crossorigin="anonymous"></script>
  <title> Donation Payment </title>
  <style>
      body {
          min-height: 100vh;
          max-width: 100vw;
      }
  </style>
</head>
<body>
<div style="position: fixed; margin-top:-100px; padding-top:15px; z-index: 100; background-color:#E3F2FD; width:100%">
  <ul style="text-align: center; float: inline-end;">
    <li style="display: inline-block;"><a style="color : black; font-size: 17px; padding: 7px 13px; border-radius: 3px;" th:href="@{'/'}"><b>Home</b></a></li>
    <li style="display: inline-block;"><a style="color : black; font-size: 17px; padding: 7px 13px; border-radius: 3px;"><b>Login</b></a></li>
    <li style="display: inline-block;"><a style="color : black; font-size: 17px; padding: 7px 13px; border-radius: 3px;" th:href="@{'/campaign'}"><b>Campaign</b></a></li>
    <li style="display: inline-block;"><a style="color : black; font-size: 17px; padding: 7px 13px; border-radius: 3px;" th:href="@{'/report'}"><b>Report</b></a></li>
    <li style="display: inline-block;"><a style="color : black; font-size: 17px; padding: 7px 13px; border-radius: 3px;" th:href="@{'/article'}"><b>Article</b></a></li>
    <li style="display: inline-block;"><a style="color : black; font-size: 17px; padding: 7px 13px; border-radius: 3px;" th:href="@{'/review'}"><b>Review</b></a></li>
  </ul>
</div>
</body>
<body>
<section id="step1" class="container-fluid m-5 px-5">
  <div style="margin-top: 100px; margin-bottom: 20px; font-size:30px; font-weight:600">Step 1: Pay Your Donation</div>
  Transfer your donation to our bank account
  <div class="shadow-none p-4 bg-light rounded">
    <h5> Bank XXX </h5>
    <h5> 0123XXXXXXXXX </h5>
    <h5> a.n. PT CharitAble</h5>
  </div>
</section>

<section id="step2" class="container-fluid m-5 px-5">
  <h2 class="pb-5"> Step 2: Confirm Your Donation </h2>
  <div class="row">
    <div class="col-4">
      <img class="align-self-center mr-3" th:src="@{${'/campaign/' + image + '.png'}}" alt="image"
           style="width: 300px; height: 300px;">
    </div>

    <div class="col-8">
      <form th:action="@{'/campaign/confirm-payment'}" th:object="${donation}" method="POST">
        <div class="form-group">
          <label for="type">Type of Donation</label>
          <input type="text" class="form-control" id="type" th:value="${type}" th:field="*{type}" readonly>
        </div>

        <div class="form-group">
          <label for="bankName">Bank Name</label>
          <input type="text" class="form-control" id="bankName" th:field="*{bankName}" required>
        </div>

        <div class="form-group">
          <label for="accountNumber">Account Number</label>
          <input type="text" class="form-control" id="accountNumber" th:field="*{accountNumber}" required>
        </div>

        <div class="form-group">
          <label for="accountName">Account Name</label>
          <input type="text" class="form-control" id="accountName" th:field="*{accountName}" required>
        </div>

        <div class="form-group">
          <label for="donationAmount">Donation Amount</label>
          <input type="text" class="form-control" id="donationAmount" th:field="*{donationAmount}" required>
        </div>

        <button type="submit" class="btn btn-primary">Confirm</button>
      </form>
    </div>
  </div>
</section>

</body>
</html>