<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</head>
<body>

<div style="position: fixed; padding-top:15px; z-index: 100; background-color:#E3F2FD; width:100%">
    <ul style="text-align: center; float: inline-end;">
        <li style="display: inline-block;"><a style="color : black; font-size: 17px; padding: 7px 13px; border-radius: 3px;" th:href="@{'/'}"><b>Home</b></a></li>
        <li style="display: inline-block;"><a style="color : black; font-size: 17px; padding: 7px 13px; border-radius: 3px;"><b>Login</b></a></li>
        <li style="display: inline-block;"><a style="color : black; font-size: 17px; padding: 7px 13px; border-radius: 3px;" th:href="@{'/campaign'}"><b>Campaign</b></a></li>
        <li style="display: inline-block;"><a style="color : black; font-size: 17px; padding: 7px 13px; border-radius: 3px;" th:href="@{'/report'}"><b>Report</b></a></li>
        <li style="display: inline-block;"><a style="color : black; font-size: 17px; padding: 7px 13px; border-radius: 3px;" th:href="@{'/article'}"><b>Article</b></a></li>
        <li style="display: inline-block;"><a style="color : black; font-size: 17px; padding: 7px 13px; border-radius: 3px;" th:href="@{'/review'}"><b>Review</b></a></li>
    </ul>
</div>

<div class="jumbotron">
        <div>
            <div style="margin-top: 50px; margin-bottom: 20px; font-size:40px"><b>Submit Article</b></div>
        </div>
        <form th:action="@{/article/add-writer}" th:object="${writer}" method = "POST">
            <div>
                <label>Full Name</label>
                <input type = "text" class = "form-control" th:field="${writer.fullname}">
            </div>

            <div>
                <label>Email</label>
                <input type = "text" class = "form-control" th:field="${writer.email}">
            </div>

            <div>
                <label>Title</label>
                <input type = "text" class = "form-control" th:field="${writer.title}">
            </div>

            <div>
                <label>Article Body</label>
                <input type = "text" class = "form-control" th:field="${writer.body}">
            </div>

            <div>
                <a th:href="@{/article/add-writer}"><button class="btn btn-sm btn-primary" input type = "submit" value = "submit">Publish</button></a>
            </div>

        </form>
</div>

</body>


</html>